<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">

    </head>
    <body>
        <nav class="nav">
            <h1 class="titulo">
                Electronic
            </h1>
            <ul class="listaNavegador">
                <li class="lista">
                    <a href="{{ path ('homepage') }}">
                        home
                    </a>
                </li>
                <li class="lista">
                    <a href="{{ path ('fotografias') }}">
                        Fotografoias
                    </a>
                </li>
                <li class="lista">
                    <a href="{{ path ('login') }}">
                        login
                    </a>
                </li>

            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
