{% extends 'base.html.twig' %}
{% form_theme form 'forms/productForm.html.twig' %}

{% block body %}

	<div class="container py-4">
		<div>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>

		<div class="row my-4">

			{% for product in products %}
				<div class="col-md-4 mb-4">

					<div class="card bg-dark" style="width: 18rem">
						<div style="background-image: url('{{ asset ( productImg~product.image) }}');
background-size: cover;
background-position: center;
width: 100%;
height: 300px;
border: 1px solid #ccc;"></div>
						<div class="card-body">
							<h1 class="card-title text-white" style="font-size: 1.5rem;">{{product.producto}}</h1>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/nuevoImgProduct.js')}} "></script>
{% endblock %}
