{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
	<div>
		<div class="card-body">
			<select class="form-select" aria-label="Default select example">
				<option selected>Open this select menu</option>
				{% for category in categories %}
					<option value="{{category.id}}">{{category.name}}}
					</option>
				{% endfor %}
			</select>
			<table id="datatablesSimple">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Imagen</th>
						<th>Categoria</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>
								<a class="" href="{{ path ('newproduct', {'id': product.id}) }}">
									Editar
								</a>
							</td>
							<td>
								{{product.producto}}
							</td>
							<td><img src="{{ asset ( productImg~product.image) }}" class="image"></td>
							<td>
								{{product.categoria}}
							</td>
							<td>
								<form action="{{ path ('deleted', {'id': product.id}) }}" method="POST">
									{% if product.deleted ==0 %}
										<button type="submit">
											Deshabilitar
										</button>
									{% else %}
										<button type="submit">
											Habiltiar
										</button>
									{% endif %}
								</form>
							</td>


						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>


{% endblock %}
